.op-nav {
	border: 0px;
	background-color: #428BCA;
	background-image: none;
	box-shadow: none;
	color: #f2f2f2;
	border-radius:0px;
}
.op-nav .navbar-brand {
	color: #f2f2f2;
	line-height: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	height:auto;
}


.op-nav ul {
	border-left: 1px solid rgba(255, 255, 255, 0.11);
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}
.op-nav .navbar-nav > li a {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
	color:#f2f2f2;
	padding: 20px 15px;
	font-size: 14px;
	line-height: 25px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.op-nav .navbar-brand:hover,.op-nav .navbar-nav > li:hover a,.op-nav .navbar-nav > li.active a {
	background-color: #fff;
	color: #428BCA;
}

.fixed-top-height {
	height:68px;
}