.opsubscriptionform .btn-success {
	font-size:14px;
  	font-family: 'Lato', sans-serif;
  color: white;
  background-color: #64C29E;
  border:1px solid #64C29E;
  border-radius:0px;
  padding: 30px 20px;
  
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.opsubscriptionform .btn-success:hover,.opsubscriptionform .btn-default:focus {

  box-shadow:none;
}

.subscriptionform-error ul{list-style:none;}

.opsubscriptionform .form-control {
	font-size:14px;
  	font-family: 'Lato', sans-serif;
  
  	background-color: transparent;
	border: 1px solid #D3D7D9;
  
    transition: border-color .5s ease-in;
    -webkit-transition: border-color .5s ease-in;
    -moz-transition: border-color .5s ease-in;
  
  	height:auto;
    padding: 30px 25px;
  	box-shadow:none;
  
  	border-radius:0px;
}

.opsubscriptionform .form-control:foucs {
  	box-shadow:none;
}

@media (max-width: 767px) {
	.opsubscriptionform .btn-success {
     	border-top-right-radius: 0px;
  		border-bottom-right-radius: 0px;
      	padding: 20px;
  	}
  
  	.opsubscriptionform .form-control {
        font-family: 'Lato', sans-serif;
        border: 0px;
        border-bottom:  1px solid #D3D7D9;
        padding: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      	text-align:center;
      	margin-bottom:5px;
    }
  
}

@media (min-width: 992px) {
	.opsubscriptionform .btn-success:hover {
		box-shadow: inset 0 0 0 4px #64C29E, 0 0 1px rgba(0, 0, 0, 0);
		color:#64C29E;
		background: none;
	}
}