/*-- --*/
.op-collapse .panel-primary {
	border-radius: 0px;
}

.op-collapse .panel-heading {
	border-radius: 0px;
	padding: 15px 20px;
}

.op-collapse .panel-heading h4{
	font-size: 18px;
}

@media (max-width: 991px) {
	.op-collapse a.panel-title:hover,.op-collapse a.panel-title:active,.op-collapse a.panel-title:focus {
		color:#fff;
		text-decoration:none;
	}
}