#[wrap_id] {
	height:[height];
	display:table;
	background-color:[bg_color];
}

#[wrap_id]>.overlay-top {
	display:table-cell;
	vertical-align:[vertical_align];
}

#[wrap_id]>#bg-image-[id] {
	left:15px;right:15px;top:0;bottom:0;
	background-image: [img_link];
}