body{position: relative; overflow:hidden;} section {position: relative;width:100%;} section .container{height: 100%;} .opimage{height: 100%;}
.bg-image { z-index: 1; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -o-background-size: cover; position:absolute; opacity: 100; filter: alpha(opacity=10000); opacity: 1; filter: alpha(opacity=100); left:0;right:0;top:0;bottom:0;background-position: center center;}
.bg-image-overlay {z-index: 1; top:0;left:0;right:0;bottom:0; position:absolute;}
.has-bg-image {z-index:2;position: relative;} .container-fluid>.row>.col-md-12{padding: 0 0;}
.img-responsive-height{display: block;max-height: 100%;width: auto;}  .opheight {height:100%}
.has-feedback .form-control-feedback {top:0px; width:auto;}
.form-notify {background-color: #78CC86;color: white;padding: 20px;font-size: 2em;} .noty_container_type_error {background-color: #D91E18;}
#page-wrapper{position:relative;} .navbar-default {margin-bottom:0px;}
.op-vertical,{position:relative;}
/*--Fixed Background--*/
.fixed-background {background-attachment: fixed} .fixed-background .bg-image {background-attachment: fixed}
.op-fixed-background {background-attachment: fixed} .op-fixed-background .bg-image {background-attachment: fixed}
@media (max-width: 767px) {
.fixed-background {background-attachment: scroll} .fixed-background .bg-image {background-attachment: scroll}
}
/*--Grow Effect --*/
.grow {display: inline-block;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);}
.grow:hover, .grow:focus, .grow:active {-webkit-transform: scale(1.1);transform: scale(1.1); background-color: #32425A;color: white;}
/*-- Button CTA --*/
.btn-cta	{border: 1px solid #BBB;border-image: initial;padding: 15px 50px;color: gray;text-transform: uppercase;letter-spacing: 3px;font-weight: 400;background-color: rgba(255, 255, 255, 0);}
@media (max-width: 767px) {
.btn-cta {padding: 15px 5px;}
}
.btn-cta:hover{border: 1px solid #64C29E;color: #64C29E;background-color: transparent;}
/*-- Button Round --*/
.btn-round {border: 2px solid transparent;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;background-color:rgba(0,0,0,0.2);}
.btn-round:hover {border: 2px solid #fff;background-color:transparent;}
/*-- Button Icon --*/
.btn-icon .fa{color:rgba(0,0,0,0.5);}
.btn-icon:hover .fa{color:#fff;}
/*-- Preloader --*/
.preloader {position: fixed; left:0;top:0;right:0;bottom:0;background-color:#fff;z-index:3000;display:block;overflow:hidden;} .preloader-table {display:table;width:100%;height:100%} .preloader-cell {display:table-cell;width:100%; vertical-align:middle;}
.fixed-top-height {height:50px;}