/**
 * @package         Sliders
 * @version         5.1.13
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/sliders/old.min.css
 */
.nn_sliders .fade {
  opacity: 0;
  -webkit-transition: opacity 1ms linear;
  -moz-transition: opacity 1ms linear;
  -o-transition: opacity 1ms linear;
  transition: opacity 1ms linear;
}
.nn_sliders .fade.in {
  opacity: 1;
}
.nn_sliders.has_effects .fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_sliders .collapse {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 1ms ease;
  -moz-transition: height 1ms ease;
  -o-transition: height 1ms ease;
  transition: height 1ms ease;
}
.nn_sliders .collapse.in {
  height: auto;
}
.nn_sliders.has_effects .collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.nn_sliders.accordion {
  margin-bottom: 18px;
}
.nn_sliders.accordion > .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nn_sliders.accordion > .accordion-group .accordion-heading {
  border-bottom: 0;
}
.nn_sliders.accordion > .accordion-group .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.nn_sliders.accordion > .accordion-group > .accordion-body.in:hover {
  overflow: visible;
}
@font-face {
  font-family: 'IcoMoon';
  src: url('../../jui/fonts/IcoMoon.eot');
  src: url('../../jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../jui/fonts/IcoMoon.svg#IcoMoon') format('svg'), url('../../jui/fonts/IcoMoon.woff') format('woff'), url('../../jui/fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.nn_sliders.oldschool > .accordion-group.panel,
.nn_sliders.oldschool > .accordion-group.active,
.nn_sliders.oldschool > .accordion-group.blue,
.nn_sliders.oldschool > .accordion-group.primary,
.nn_sliders.oldschool > .accordion-group.info,
.nn_sliders.oldschool > .accordion-group.green,
.nn_sliders.oldschool > .accordion-group.success,
.nn_sliders.oldschool > .accordion-group.orange,
.nn_sliders.oldschool > .accordion-group.warning,
.nn_sliders.oldschool > .accordion-group.red,
.nn_sliders.oldschool > .accordion-group.danger,
.nn_sliders.oldschool > .accordion-group.error,
.nn_sliders.oldschool > .accordion-group.grey,
.nn_sliders.oldschool > .accordion-group.gray {
  border: 1px solid #bbbbbb !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.nn_sliders.oldschool > .accordion-group span.nn_sliders-title-inactive {
  display: inherit;
}
.nn_sliders.oldschool > .accordion-group span.nn_sliders-title-active {
  display: none;
}
.nn_sliders.oldschool > .accordion-group.active span.nn_sliders-title-inactive {
  display: none;
}
.nn_sliders.oldschool > .accordion-group.active span.nn_sliders-title-active {
  display: inherit;
}
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a:link,
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a:visited,
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a:active,
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a:hover {
  color: #666666;
  outline: 0;
  padding: 5px 10px 0 10px;
  height: 20px;
  _height: 25px;
  font-size: 14px;
  line-height: 1em !important;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none !important;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}
.nn_sliders.oldschool .nn_sliders-scroll {
  position: relative;
  visibility: hidden;
  padding: 0;
}
.nn_sliders.oldschool .nn_sliders-title {
  display: none;
}
.nn_sliders.oldschool > .accordion-group > .accordion-heading > a:hover {
  color: #333333;
  background-color: #8ec2ec;
  background-image: -moz-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0ccef), to(#74b4e8));
  background-image: -webkit-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: -o-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: linear-gradient(to bottom, #a0ccef, #74b4e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0ccef', endColorstr='#ff74b4e8', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.active > .accordion-heading > a:hover {
  color: #ffffff;
  background-color: #479add;
  background-image: -moz-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea8e4), to(#2384d3));
  background-image: -webkit-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -o-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: linear-gradient(to bottom, #5ea8e4, #2384d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ea8e4', endColorstr='#ff2384d3', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.blue > .accordion-heading > a {
  background-color: #badaf4;
  background-image: -moz-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cce3f6), to(#a0ccef));
  background-image: -webkit-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -o-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: linear-gradient(to bottom, #cce3f6, #a0ccef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcce3f6', endColorstr='#ffa0ccef', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.blue > .accordion-heading > a:hover {
  background-color: #86bdeb;
  background-image: -moz-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0ccef), to(#5ea8e4));
  background-image: -webkit-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -o-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: linear-gradient(to bottom, #a0ccef, #5ea8e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0ccef', endColorstr='#ff5ea8e4', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.blue.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.blue.active > .accordion-heading > a:hover {
  background-color: #479add;
  background-image: -moz-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea8e4), to(#2384d3));
  background-image: -webkit-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -o-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: linear-gradient(to bottom, #5ea8e4, #2384d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ea8e4', endColorstr='#ff2384d3', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.primary > .accordion-heading > a {
  background-color: #badaf4;
  background-image: -moz-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cce3f6), to(#a0ccef));
  background-image: -webkit-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -o-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: linear-gradient(to bottom, #cce3f6, #a0ccef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcce3f6', endColorstr='#ffa0ccef', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.primary > .accordion-heading > a:hover {
  background-color: #86bdeb;
  background-image: -moz-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0ccef), to(#5ea8e4));
  background-image: -webkit-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -o-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: linear-gradient(to bottom, #a0ccef, #5ea8e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0ccef', endColorstr='#ff5ea8e4', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.primary.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.primary.active > .accordion-heading > a:hover {
  background-color: #479add;
  background-image: -moz-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea8e4), to(#2384d3));
  background-image: -webkit-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -o-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: linear-gradient(to bottom, #5ea8e4, #2384d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ea8e4', endColorstr='#ff2384d3', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.info > .accordion-heading > a {
  background-color: #88cce0;
  background-image: -moz-linear-gradient(top, #98d3e4, #6fc2da);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98d3e4), to(#6fc2da));
  background-image: -webkit-linear-gradient(top, #98d3e4, #6fc2da);
  background-image: -o-linear-gradient(top, #98d3e4, #6fc2da);
  background-image: linear-gradient(to bottom, #98d3e4, #6fc2da);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff98d3e4', endColorstr='#ff6fc2da', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.info > .accordion-heading > a:hover {
  background-color: #58b7d3;
  background-image: -moz-linear-gradient(top, #6fc2da, #34a7c8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fc2da), to(#34a7c8));
  background-image: -webkit-linear-gradient(top, #6fc2da, #34a7c8);
  background-image: -o-linear-gradient(top, #6fc2da, #34a7c8);
  background-image: linear-gradient(to bottom, #6fc2da, #34a7c8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fc2da', endColorstr='#ff34a7c8', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.info.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.info.active > .accordion-heading > a:hover {
  background-color: #2e93b0;
  background-image: -moz-linear-gradient(top, #34a7c8, #24748c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#34a7c8), to(#24748c));
  background-image: -webkit-linear-gradient(top, #34a7c8, #24748c);
  background-image: -o-linear-gradient(top, #34a7c8, #24748c);
  background-image: linear-gradient(to bottom, #34a7c8, #24748c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34a7c8', endColorstr='#ff24748c', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.green > .accordion-heading > a {
  background-color: #9bd59b;
  background-image: -moz-linear-gradient(top, #a9dba9, #86cb86);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9dba9), to(#86cb86));
  background-image: -webkit-linear-gradient(top, #a9dba9, #86cb86);
  background-image: -o-linear-gradient(top, #a9dba9, #86cb86);
  background-image: linear-gradient(to bottom, #a9dba9, #86cb86);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9dba9', endColorstr='#ff86cb86', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.green > .accordion-heading > a:hover {
  background-color: #70c270;
  background-image: -moz-linear-gradient(top, #86cb86, #50b550);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#86cb86), to(#50b550));
  background-image: -webkit-linear-gradient(top, #86cb86, #50b550);
  background-image: -o-linear-gradient(top, #86cb86, #50b550);
  background-image: linear-gradient(to bottom, #86cb86, #50b550);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff86cb86', endColorstr='#ff50b550', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.green.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.green.active > .accordion-heading > a:hover {
  background-color: #46a046;
  background-image: -moz-linear-gradient(top, #50b550, #378137);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50b550), to(#378137));
  background-image: -webkit-linear-gradient(top, #50b550, #378137);
  background-image: -o-linear-gradient(top, #50b550, #378137);
  background-image: linear-gradient(to bottom, #50b550, #378137);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50b550', endColorstr='#ff378137', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.success > .accordion-heading > a {
  background-color: #9bd59b;
  background-image: -moz-linear-gradient(top, #a9dba9, #86cb86);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9dba9), to(#86cb86));
  background-image: -webkit-linear-gradient(top, #a9dba9, #86cb86);
  background-image: -o-linear-gradient(top, #a9dba9, #86cb86);
  background-image: linear-gradient(to bottom, #a9dba9, #86cb86);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9dba9', endColorstr='#ff86cb86', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.success > .accordion-heading > a:hover {
  background-color: #70c270;
  background-image: -moz-linear-gradient(top, #86cb86, #50b550);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#86cb86), to(#50b550));
  background-image: -webkit-linear-gradient(top, #86cb86, #50b550);
  background-image: -o-linear-gradient(top, #86cb86, #50b550);
  background-image: linear-gradient(to bottom, #86cb86, #50b550);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff86cb86', endColorstr='#ff50b550', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.success.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.success.active > .accordion-heading > a:hover {
  background-color: #46a046;
  background-image: -moz-linear-gradient(top, #50b550, #378137);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50b550), to(#378137));
  background-image: -webkit-linear-gradient(top, #50b550, #378137);
  background-image: -o-linear-gradient(top, #50b550, #378137);
  background-image: linear-gradient(to bottom, #50b550, #378137);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50b550', endColorstr='#ff378137', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.orange > .accordion-heading > a {
  background-color: #fccc87;
  background-image: -moz-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fbbf69));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: -o-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: linear-gradient(to bottom, #fdd49a, #fbbf69);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd49a', endColorstr='#fffbbf69', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.orange > .accordion-heading > a:hover {
  background-color: #fbb24b;
  background-image: -moz-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbbf69), to(#fa9f1e));
  background-image: -webkit-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: -o-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: linear-gradient(to bottom, #fbbf69, #fa9f1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbbf69', endColorstr='#fffa9f1e', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.orange.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.orange.active > .accordion-heading > a:hover {
  background-color: #e58f14;
  background-image: -moz-linear-gradient(top, #fa9f1e, #c67605);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa9f1e), to(#c67605));
  background-image: -webkit-linear-gradient(top, #fa9f1e, #c67605);
  background-image: -o-linear-gradient(top, #fa9f1e, #c67605);
  background-image: linear-gradient(to bottom, #fa9f1e, #c67605);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa9f1e', endColorstr='#ffc67605', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.warning > .accordion-heading > a {
  background-color: #fccc87;
  background-image: -moz-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fbbf69));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: -o-linear-gradient(top, #fdd49a, #fbbf69);
  background-image: linear-gradient(to bottom, #fdd49a, #fbbf69);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd49a', endColorstr='#fffbbf69', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.warning > .accordion-heading > a:hover {
  background-color: #fbb24b;
  background-image: -moz-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbbf69), to(#fa9f1e));
  background-image: -webkit-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: -o-linear-gradient(top, #fbbf69, #fa9f1e);
  background-image: linear-gradient(to bottom, #fbbf69, #fa9f1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbbf69', endColorstr='#fffa9f1e', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.warning.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.warning.active > .accordion-heading > a:hover {
  background-color: #e58f14;
  background-image: -moz-linear-gradient(top, #fa9f1e, #c67605);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa9f1e), to(#c67605));
  background-image: -webkit-linear-gradient(top, #fa9f1e, #c67605);
  background-image: -o-linear-gradient(top, #fa9f1e, #c67605);
  background-image: linear-gradient(to bottom, #fa9f1e, #c67605);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa9f1e', endColorstr='#ffc67605', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.red > .accordion-heading > a {
  background-color: #e3928e;
  background-image: -moz-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7a29e), to(#dd7a75));
  background-image: -webkit-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -o-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: linear-gradient(to bottom, #e7a29e, #dd7a75);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7a29e', endColorstr='#ffdd7a75', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.red > .accordion-heading > a:hover {
  background-color: #d7635d;
  background-image: -moz-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a75), to(#ce3f38));
  background-image: -webkit-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -o-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: linear-gradient(to bottom, #dd7a75, #ce3f38);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd7a75', endColorstr='#ffce3f38', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.red.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.red.active > .accordion-heading > a:hover {
  background-color: #b73730;
  background-image: -moz-linear-gradient(top, #ce3f38, #942a25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce3f38), to(#942a25));
  background-image: -webkit-linear-gradient(top, #ce3f38, #942a25);
  background-image: -o-linear-gradient(top, #ce3f38, #942a25);
  background-image: linear-gradient(to bottom, #ce3f38, #942a25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce3f38', endColorstr='#ff942a25', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.danger > .accordion-heading > a {
  background-color: #e3928e;
  background-image: -moz-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7a29e), to(#dd7a75));
  background-image: -webkit-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -o-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: linear-gradient(to bottom, #e7a29e, #dd7a75);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7a29e', endColorstr='#ffdd7a75', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.danger > .accordion-heading > a:hover {
  background-color: #d7635d;
  background-image: -moz-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a75), to(#ce3f38));
  background-image: -webkit-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -o-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: linear-gradient(to bottom, #dd7a75, #ce3f38);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd7a75', endColorstr='#ffce3f38', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.danger.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.danger.active > .accordion-heading > a:hover {
  background-color: #b73730;
  background-image: -moz-linear-gradient(top, #ce3f38, #942a25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce3f38), to(#942a25));
  background-image: -webkit-linear-gradient(top, #ce3f38, #942a25);
  background-image: -o-linear-gradient(top, #ce3f38, #942a25);
  background-image: linear-gradient(to bottom, #ce3f38, #942a25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce3f38', endColorstr='#ff942a25', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.error > .accordion-heading > a {
  background-color: #e3928e;
  background-image: -moz-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7a29e), to(#dd7a75));
  background-image: -webkit-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: -o-linear-gradient(top, #e7a29e, #dd7a75);
  background-image: linear-gradient(to bottom, #e7a29e, #dd7a75);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7a29e', endColorstr='#ffdd7a75', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.error > .accordion-heading > a:hover {
  background-color: #d7635d;
  background-image: -moz-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a75), to(#ce3f38));
  background-image: -webkit-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: -o-linear-gradient(top, #dd7a75, #ce3f38);
  background-image: linear-gradient(to bottom, #dd7a75, #ce3f38);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd7a75', endColorstr='#ffce3f38', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.error.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.error.active > .accordion-heading > a:hover {
  background-color: #b73730;
  background-image: -moz-linear-gradient(top, #ce3f38, #942a25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce3f38), to(#942a25));
  background-image: -webkit-linear-gradient(top, #ce3f38, #942a25);
  background-image: -o-linear-gradient(top, #ce3f38, #942a25);
  background-image: linear-gradient(to bottom, #ce3f38, #942a25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce3f38', endColorstr='#ff942a25', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.grey > .accordion-heading > a {
  background-color: #d3d3d3;
  background-image: -moz-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#c3c3c3));
  background-image: -webkit-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -o-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: linear-gradient(to bottom, #dddddd, #c3c3c3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffc3c3c3', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.grey > .accordion-heading > a:hover {
  background-color: #b4b4b4;
  background-image: -moz-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3c3c3), to(#9d9d9d));
  background-image: -webkit-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -o-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: linear-gradient(to bottom, #c3c3c3, #9d9d9d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3c3c3', endColorstr='#ff9d9d9d', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.grey.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.grey.active > .accordion-heading > a:hover {
  background-color: #8e8e8e;
  background-image: -moz-linear-gradient(top, #9d9d9d, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#777777));
  background-image: -webkit-linear-gradient(top, #9d9d9d, #777777);
  background-image: -o-linear-gradient(top, #9d9d9d, #777777);
  background-image: linear-gradient(to bottom, #9d9d9d, #777777);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d9d9d', endColorstr='#ff777777', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.gray > .accordion-heading > a {
  background-color: #d3d3d3;
  background-image: -moz-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#c3c3c3));
  background-image: -webkit-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -o-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: linear-gradient(to bottom, #dddddd, #c3c3c3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffc3c3c3', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.gray > .accordion-heading > a:hover {
  background-color: #b4b4b4;
  background-image: -moz-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3c3c3), to(#9d9d9d));
  background-image: -webkit-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -o-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: linear-gradient(to bottom, #c3c3c3, #9d9d9d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3c3c3', endColorstr='#ff9d9d9d', GradientType=0);
}
.nn_sliders.oldschool > .accordion-group.gray.active > .accordion-heading > a,
.nn_sliders.oldschool > .accordion-group.gray.active > .accordion-heading > a:hover {
  background-color: #8e8e8e;
  background-image: -moz-linear-gradient(top, #9d9d9d, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#777777));
  background-image: -webkit-linear-gradient(top, #9d9d9d, #777777);
  background-image: -o-linear-gradient(top, #9d9d9d, #777777);
  background-image: linear-gradient(to bottom, #9d9d9d, #777777);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d9d9d', endColorstr='#ff777777', GradientType=0);
}
