.op-tab .nav-tabs {
	padding-left:10px;
	border-color: #C5D0DC;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 1px;
}

.op-tab .nav-tabs>li>a,.op-tab .nav-tabs>li>a:focus{
	border-radius:0px;
	border-radius: 0!important;
	background-color: #F9F9F9;
	color: #999;
	margin-right: -1px;
	line-height: 16px;
	position: relative;
	z-index: 11;
	border-color: #C5D0DC;
}

.op-tab .nav-tabs > li.active > a, .op-tab .nav-tabs > li.active > a:hover, .op-tab .nav-tabs > li.active > a:focus {
	color: #576373;
	border-color: #C5D0DC;
	border-top: 2px solid #4C8FBD;
	border-bottom-color: transparent;
	background-color: white;
	z-index: 12;
	line-height: 16px;
	margin-top: -1px;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.05);
}


.op-tab .tab-pane {
	padding-top:20px;
	border: 1px solid #ddd;
	border-top:0px;
}

@media (max-width: 991px) {
	.op-tab .panel-primary {
		border-radius: 0px;
	}
	
	.op-tab .panel-heading {
		border-radius: 0px;
		padding: 15px 20px;
	}
	
	.op-tab .panel-heading h4{
		font-size: 18px;
	}

	.op-tab a.panel-title:hover,.op-tab a.panel-title:active,.op-tab a.panel-title:focus {
		color:#fff;
		text-decoration:none;
	}
}