@CHARSET "UTF-8";
/* -- Tab -- */
.theme .nav-tabs > li.active > a,.theme .nav-tabs > li.active > a:hover,.theme .nav-tabs > li.active > a:focus {
	color: #576373;
	border-color: #C5D0DC;
	border-top: 2px solid #4C8FBD;
	border-bottom-color: transparent;
	background-color: white;
	z-index: 12;
	line-height: 16px;
	margin-top: -1px;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.05);
}

.theme .nav-tabs > li > a,.theme .nav-tabs > li > a:focus {
	border-radius: 0!important;
	background-color: #F9F9F9;
	color: #999;
	margin-right: -1px;
	line-height: 16px;
	position: relative;
	z-index: 11;
	border-color: #C5D0DC;
}

.theme .tabs-left .nav-tabs {
	float: left;
	top: auto;
	margin-bottom: 0;
}

.theme .tabs-left > .nav-tabs > li {
	float: none;
}

.theme .tabs-left > .nav-tabs > li.active > a,.theme  .tabs-left > .nav-tabs > li.active > a:focus,.theme  .tabs-left > .nav-tabs > li.active > a:hover {
	border-color: #C5D0DC;
	border-top-width: 1px;
	border-left: 2px solid #4C8FBD;
	border-right-color: transparent;
	margin: 0 -1px 0 -1px;
}

.theme .tabs-left .tab-content{
	overflow: auto;
}

.theme .tabs-left .tab-pane {padding:20px;}

.theme .tab-content {
	border: 1px solid #C5D0DC;
	padding: 16px 12px;
	position: relative;
	z-index: 11;
}

.theme .nav-tabs {
	border-color: #C5D0DC;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 1px;
}

/*-- panel --*/
.theme .noselect {
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;   
}
.theme .panel {
	border-radius: 0px;
}
.theme .panel-heading {
	border-radius: 0px;
}

/*-- form --*/
.theme .control-label {
	text-align:left;
}
.theme .form-control {
	border-radius: 0;
}

.theme .form-control:focus {
	border-color: #F59942;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.theme .form-actions {
padding: 19px 20px 20px;
margin-top: 20px;
background-color: rgba(51, 51, 51, 0.25);
}

.theme .btn  {
	border-radius: 0;
}

.theme .exit {background-color:#D2322D;color:#fff;}
.theme .exit:hover {background-color:#D2322D;color:#fff;}
.theme .navbar-nav li:hover {background-color:rgba(0, 0, 0, 0.1);}

.theme .navbar {border-radius:0px;}

.theme a.star:hover {color: #ff9000;}
.theme a.email:hover {color: #ff9000;}
.theme a.config:hover {color: #ff9000;}

.theme .panel .haslink {
	padding:0px;
}
.theme .panel .haslink a {
	display:block;
	padding:10px 15px;
}
.theme a.purewhite {
	color: #fff;
}

.theme a.purewhite:hover, .theme a.purewhite:focus{
	color: #fff;
	text-decoration: none;
}

.theme .fieldBtn {
	position: absolute;
	top: -5px;
	right: 5px;
	color:#F44646;
}

.theme .dp {
	position:inherit;
}

.theme .badge-green {
	background-color:#5CB85C;
}

.theme .badge-red {
	background-color:#F73E5F;
}