@CHARSET "UTF-8";
html, body { height: 100%; }

.tooltip-inner {
	white-space: nowrap;
}

.tablediv {
	width: 100%;
	height: 100%;
	display: table;
	content: '';
	clear: both;
	margin: 0;
	padding: 0;
	
	padding-top:30px;
}

.tablediv .left{
	display: table-cell;
	
	height: 100%;
	vertical-align: top;
}



.tablediv .right{
	display: table-cell;
	width: 300px;
	height: 100%;
	padding: 0px 20px 0px 30px;
	vertical-align: top;
}

.navbar-panel {
	position:absolute;
	top:0;left:0;right:0;
	min-height:30px;
	padding-left:15px;
	padding-right:15px;
	border-left:0px;
	border-right:0px;
	border-top:0px
}

.navbar-panel .btn {
	margin:4px 0px;
}

.child .panel-heading {
	line-height:20px;
}

.angular-ui-tree-handle {
	cursor: move;
	padding:3px;
	color: #7C9EB2;
	text-decoration: none;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.5em;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}



.map-unit {
	padding:10px 15px 0px;
	position: relative;
}

.map-unit .label {
	border-radius: 0px;
}



/*.map-unit h3,.map-unit h4,.map-unit h5 { 
	margin-top:0px;
	position: absolute;
	top:-1px;
	left:0px;
}*/

.map-unit h4,.map-unit h5 { 
	top:0px;
}

.first {
	border:1px solid #D9534F;
	min-height:30px;
	padding:0px 0px;
	
	margin-top:10px;
	margin-bottom:10px;
}


.second {
	border:1px solid #F0AD4E;
	z-index:2;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#fff;
	padding:0px;
}


.third {
	margin-top:10px;
	margin-bottom:10px;
	background-color:#fff;
	padding:0px 10px;
}

.uactive {
	background-color:#BEA1CC;
	border:1px solid #BEA1CC;
}

.uactive:hover {
	background-color:#BEA1CC;
	border:1px solid #BEA1CC;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.createtitle {
	font-size: 48px;
border: 0px;
height: 60px;
margin-top: 20px;
line-height: 60px;
box-shadow: none;
}

.btn-create {
	margin-top:5px;
}