.menu {
	position: fixed;
	right: -260px;
	width: 320px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

#theMenu {
	z-index: 1100;
}

.menu.menu-open {
	right: 0px;
}

#theMenu .menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 260px;
	height: 100%;
}

#theMenu .menu-wrap>div {
	margin-left: 20px;
	color: grey;
}

.menu h1.logo a {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}


.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
}

/*
.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}*/

.menu .nav > li > a {
position: relative;
display: block;
padding: 5px 5px;
}

.nav > li.active > a, .nav > li:hover > a{
	color: #ffffff;
	background-color: transparent;
}

/*.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
	color: #ffffff;
	background-color: transparent;
}*/

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

@media (max-width: 767px) {
	#menuToggle {
		top: auto;
		bottom: 20px;
	}
}



#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}



hr.hr-sidebar {
	width:60%;
	margin-top:15px;
	margin-bottom:5px;
	border-top:1px solid #2b2b2b;
}

.op-sidebar-social {
	color: #fff;
	margin-left: 20px;
}

ul.op-sidebar-social li {
	padding-left: 0px;
	padding-right: 0px;
}

ul.op-sidebar-social li i{
	font-size:1.6em;
	margin: 15px 2px;
}

ul.op-sidebar-social li {
	padding-left: 0px;
	padding-right: 0px;
}

a.op-sidebar-facebook:hover {
	color: #4863AE;
}

a.op-sidebar-twitter:hover {
	color: #46C0FB;
}

a.op-sidebar-googleplus:hover {
	color: #DD4A38;
}