/*---Carousel---*/
.carousel {
margin-bottom:0px;
}

.thumbnail .icon-stack {
position: relative;
display: inline-block;
width: 2em;
height: 2em;
line-height: 2em;
vertical-align: -35%;
}

.navbar .brand {
color: #3498DB;
}

.tab-content {
padding: 0 0 0 0;
}