/* Add additional stylesheets below
-------------------------------------------------- */

html, body {
word-wrap: break-word;
}

.jumbotron {
	background-color: transparent;	
}

/*------------------------------------------------ Auto Height ---*/
.opheight {
	height:100%;
}

.height-100 {
	height:100%;
}

/*------------------------------------------------ Article ---*/
.oparticle {
	
}

/*------------------------------------------------ ICON SIZE ---*/
.icon-18 {
	font-size: 12em;
}

.icon-12 {
	font-size: 6em;
}

/*------------------------------------------------ Subscribe Form ---*/
.subscribe-form span {
	line-height:45px;
}

.subscribe-form .form-group {
	margin-bottom:0px;
}

/*------------------------------------------------ Contact Form ---*/
.opcontactform {
	height: 100%;
	min-height:328px;
	margin-bottom: 0px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 45px;
}

/*------------------------------------------------ Contact Button ---*/
.contactusBtn {
	right: 0;
	top: 40%;
	background: none;
	position:fixed;
}

/*------------------------------------------------ Overlay ---*/
.overlay {
	position: relative;
	margin: 0 -15px;
}

.overlay div{
	position: relative;
	margin: 0 auto;
}

.overlay .front {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin: 0 auto;
	width:100%;
}

/*------------------------------------------------ Tab ---*/
.optab .nav-tabs{
	margin-bottom:10px;
	
}

/*------------------------------------------------ Image ---*/
.opimg {
	margin: 0 auto;
	position:relative;
}
.opimg img{
	width:100%;
	height: 100%;
	display: block;
}

.div-vertical .opimg {
	margin: 0 auto;
}

.img-caption {
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 10px;
background: #333;
background: rgba(0, 0, 0, 0.75);

line-height: 20px;
color: white;
}

.img-caption h4, .img-caption p {
line-height: 20px;
color: white;
}

/*------------------------------------------------ Carousel ---*/

.carousel-caption1 {
	position: absolute;
}

.carousel-indicators1 .active {
background-color: rgba(44,62,80,0.70);
}


/*------------------------------------------------ Thumbnails ---*/
.noborder  .thumbnail {
border: 0px;
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
}

/*------------------------------------------------ GMap ---*/
.photo_frame {
	background: white;
	padding: 15px;
	box-shadow: 0 0 20px #999;
	border-radius: 2px;
}

/*------------------------------------------------ CLOCK ---*/
.opclock {
	font-size:32px;
	font-weight: 700;
	
}

.opclock div {
	vertical-align: middle;
	display: table-cell;
}

/*------------------------------------------------ Sharre ---*/
.opsociallike {
	padding-top: 10px;
}

/*------------------------------------------------ Link Style ---*/
.carousel-control a {
	text-decoration: none;
}

.thumbnail a {
text-decoration:none;
}

.accordion a {
	text-decoration:none;
}

.nav-tabs li a {
	text-decoration:none;
}

/*------------------------------------------------ Navbar class ---*/
.navbar {
	margin-bottom: 0px;
	overflow: visible;
}

.navbar-inner {
border: none;
padding-left: 4px;
padding-right: 4px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navbar .brand {
	padding-top:10px;
	padding-bottom:10px;	
}

.navbarbelow {
	height:50px;
}

.tagsinput {
	height:auto
}

/*------------------------------------------------ Style ---*/
.border-bottom {
	border-bottom: 1px solid #ccc;
}

/*------------------------------------------------ Footer class ---*/
footer {
	background-color: #eceff1;
	color: #bdc1c5;
	font-size: 15px;
	padding: 0;
	margin-top:10px;
}

footer a {
	color: #a1a4a7;
	font-weight: 700;
}

footer p {
	font-size: 15px;
	line-height: 20px;
}

.footer-title {
	margin: 0 0 22px;
	padding-top: 21px;
}

.footer-brand {
	display: block;
	margin-bottom: 26px;
	width: 220px;
}

.footer-brand img {
	width: 216px;
}

.footer-banner {
	background-color: #1abc9c;
	color: #cff3ec;
	margin-left: 42px;
	min-height: 286px;
	padding: 0 30px 30px;
}

.footer-banner .footer-title {
	color: white;
}

.footer-banner a {
	color: #cff3ec;
	text-decoration: underline;
}

.footer-banner a:hover {
	text-decoration: none;
}

.footer-banner ul {
	list-style-type: none;
	margin: 0 0 26px;
}

.footer-banner ul li {
	border-top: 1px solid #1bc6a5;
	line-height: 19px;
	padding: 6px 0;
}

.footer-banner ul li:first-child {
	border-top: none;
	padding-top: 1px;
}

/*------------------------------------------------ Customize class ---*/
.op-formular, .op-formular1, .op-formular2 {
position: relative;
height: 100%;
}

.op-formular > .img-caption {
position: absolute;
background: none;
bottom: 40%;
right: -5;
left: 88%
}

.op-formular1 > .img-caption {
position: absolute;
background: none;
bottom: 30%;
right: 0;
left: 90%
}

.op-formular2 > .img-caption {
position: absolute;
background: none;
bottom: 30%;
right: 0;
left: 82%
}

.op-formular  .img-caption .icon-stack [class^="icon-"],.op-formular1  .img-caption .icon-stack [class^="icon-"],.op-formular2  .img-caption .icon-stack [class^="icon-"] {
 color: #34495E;
}

.op-formular > .img-caption > .icon-stack > .icon-circle, .op-formular1 > .img-caption > .icon-stack > .icon-circle, .op-formular2 > .img-caption > .icon-stack > .icon-circle{
 border: solid 0px #ccc;
 color: transparent;
border-radius: 50%;
}

/* Customize Style of Block 344*/
.block-moveup {
margin-top: -55px;
}

.instruction {
background-color: #CCC;
}

/* Media */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .opimg img {
  	height: auto;
  }
  
	h1,.h1 {
		font-size: 30px;
	}
	h2,.h2 {
		font-size: 24px;
	}
	h3,.h3 {
		font-size: 18px;
	}
	h4,.h4 {
		font-size: 14px;
	}
	h5,.h5 {
		font-size: 12px;
	}
	h6,.h6 {
		font-size: 10px;
	}
	h1 small,.h1 small {
		font-size: 20px;
	}
	h2 small,.h2 small {
		font-size: 12px;
	}
	h3 small,.h3 small,h4 small,.h4 small {
		font-size: 10px;
	}}