.opcontactform .form-control {
	display: block;
	width: 100%;
	
	font-size:14px;
  	font-family: 'Lato', sans-serif;
  	background-color: transparent;
	border: 1px solid #D3D7D9;
    transition: border-color .5s ease-in;
    -webkit-transition: border-color .5s ease-in;
    -moz-transition: border-color .5s ease-in;
  	height:auto;
    padding: 30px 25px;
  	box-shadow:none;
  	border-radius:0px;
}

.opcontactform textarea.form-control {
height: 200px;
}

.opcontactform .btn-primary {
	display: block;
	width: 100%;
	padding: 30px 20px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
  background-color:#64C29E;
  border:0px;
  
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
}

@media (max-width: 767px) {
	.opcontactform .btn-primary {
     	border-top-right-radius: 0px;
  		border-bottom-right-radius: 0px;
      	padding: 20px;
  	}
  
  	.opcontactform .form-control {
        font-family: 'Lato', sans-serif;
        border: 0px;
        border-bottom:  1px solid #D3D7D9;
        padding: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      	text-align:center;
    }
  
}

@media (min-width: 992px) {
	.opcontactform .btn-primary:hover {
		box-shadow: inset 0 0 0 4px #64C29E, 0 0 1px rgba(0, 0, 0, 0);
		color:#64C29E;
		background: none;
	}
}
/*--.opcontactform input{display: block;font-size: 14px;height: 45px;padding: 6px 12px;}--*/