body{
  font-size: 20px;
  color: #4b4b4b;
}

section {
 background: #4a4a4a; /* Old browsers */
background: -moz-linear-gradient(top,  #4a4a4a 0%, #2b2b2b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a4a4a 0%,#2b2b2b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4a4a4a 0%,#2b2b2b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
  
  padding: 60px 20px;
}

section .op-item {
	background-color:#fff;
  	padding: 40px 20px 80px;
}
.msgtitle {
	font-size: 24px;
}