  @import url(http://fonts.googleapis.com/css?family=Nova+Slim|Roboto:400,100,300);
  @import url(http://weloveiconfonts.com/api/?family=entypo);
  * {margin: 0; padding: 0; border: 0 none; position: relative;}
  *, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  html {
    background-color: #666666;
    font-family:"Good Times";
    font-weight: 400;
  }

  /*Icons ausblenden*/
    .entypo-folder,
    .entypo-archive,
    .entypo-box,
    .entypo-bag {
      display: none;
    }


  html, body {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }


  /*body:before {
    content: '';
    width: 100%;
    height: 3rem;
    background: #fff;
    box-shadow: 0 0 4px 3px rgba(0,0,0,.5);
    position: absolute;  
  }*/


  a {text-decoration: none;}


  .entypo-cog:after {
    display: none;
  }

  input {
    visibility: hidden;
    display: inline-block;
    margin: 2rem 1rem 0 1rem;
    color: #ccc;
    z-index: 5;
    cursor: pointer;
    font-size: 0;
    line-height: 1.5rem;
    top: 65vh;
    z-index: 5;
  }

  input:before {
    visibility: visible;
    font-size: 2rem;
    display: inline-block;
    margin: 0 1rem;
    text-shadow: 1px 1px 0 #000;
    transform: scale(1);
    transition: .7s;
  }
  #specs {margin-left:37vw;}
  input:checked:before {
    color: #fff;
    transform: scale(1.5);
    text-shadow: 0 0 1px yellow);
  }

  section {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 100%;
    text-align: justify;
    padding: .5rem 1rem;
    transform: scale(0);
    transition: 1s linear;
    opacity: .3;
  }

  section:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }

  section > h2 {
    color: #fff;
    font-size: 25vmin;
    font-weight: 100;
    text-align: left;
    line-height: 10vmin;
    margin-bottom: 3rem;
  }
  article {
    display: inline-block;
    width: 22vw;
    height: 45vh;
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
    border-radius: 3px;
    overflow: hidden;  
    text-align: left;
  }
  .demos article {width: 28vw;}
  .posts article {width: 30vw}


      /*article:before {
        content:'';
        height: 22vh;
        width: 0;
        display: block;
        clear: both;
      }*/


  .credits h2 > span:before {
    padding-right: .3rem;
    color: #2FB4E1;
  }


  article h2 {font-weight: 400; font-size: 1.3rem; padding: 0 1rem; line-height: 2rem; color: #444;}
  article h2 span {
    display: block;
    line-height: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
  }


  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-shadow: 0 1px 1px #444;
    text-align: center;
  }
  label {
    display: inline-block;
    width: 25%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2.5vw;
    cursor: pointer;
    color: inherit;
    transition: 1s;
  }

      footer:before {
        color: #fff;
        font-size: 5rem;
        position: absolute;
        top: -4.5rem;
        left: 10%;
        transition: .7s linear;
      }

  #specs:checked ~ footer:before {left:37%;}
  #demos:checked ~ footer:before {left:62%;}
  #posts:checked ~ footer:before {left:60%;}
  #credits:checked ~ footer:before {left:85%;}
  footer label:hover {
    background: #444;  
  }
  label:nth-of-type(1){
    background: #FE116F;
  }
  label:nth-of-type(2){
    background: #2ECB7E;
  }
  label:nth-of-type(3){
    background: #2FB4E1;
  }
  label:nth-of-type(4){
    background: #F19B34;
  }
  #specs:checked ~ footer [for='specs'],
  #demos:checked ~ footer [for='demos'],
  #posts:checked ~ footer [for='posts'],
  #credits:checked ~ footer [for='credits'] {
    background: #fff;
    color: #444;
    text-shadow: 0 0 transparent;
    font-weight: 700;
  }

  #specs:checked ~ .specs,
  #demos:checked ~ .demos,
  #posts:checked ~ .posts,
  #credits:checked ~ .credits {
    transform: scale(1);
    animation: mostrar 1s linear;
    opacity: 1;
  }
  @keyframes mostrar {
    0% {top: 105%; scale(1); opacity: .3;}
  50% {opacity: .6;}
  }