@charset "utf-8";
/* CSS Document */

/* CSS STYLE */

html {

}
body {
	background-color: #F2F4F8;
}

.preloader {position: fixed; left:0;top:0;right:0;bottom:0;z-index:3000;display:block;overflow:hidden;} .preloader-table {display:table;width:100%;height:100%;position:relative;} .preloader-cell {display:table-cell;width:100%; vertical-align:middle;}
.powerby {left:0;right:0; bottom:50px;position: absolute;}
.offline-text p{
	color:#22A7F0;	
}

h1 {
	color:#19B5FE;
}

.rightupcorner {
	right:0;
}

.panel {
	padding-top:25px;
	padding-bottom:25px;
position: relative;
-webkit-perspective: 3000px;
-moz-perspective: 3000px;
-ms-perspective: 3000px;
-o-perspective: 3000px;
perspective: 3000px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;

-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px,rgba(0, 0, 0, 0.1) 0 0 20px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 10px 60px,rgba(0,0,0,0.1) 0 0 20px;
box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px,rgba(0, 0, 0, 0.1) 0 0 20px;
}

.panel .form-control, .panel .btn-primary {
	border-radius:0;
}