/**
* allg
**/
	html body {
		overflow-x: hidden !important;
	}

	h2 {
		margin-bottom: 30px;
	}

	#op-html-45 h3 {
		text-align: center;
	}

	h2.about-h2 {
		color: inherit;
		text-shadow: none;
		font-size: 1.8em;
	}
	.wrap-section#testimonials h2 {
		font-size: 28px;
	}
	.morevideos {
	    position: absolute;
	    bottom: 10px;
	    width: 100%;
	}

	.morevideos a {
	    text-shadow: 0px -4px 4px #fff, 0px 1px 2px #1f1f1f;
	    color: #D2D2D2;
		transition: all 0.6s ease;
	}

	.morevideos a:hover {
		color: #222;
		text-shadow: 0px -4px 4px #fff, 0px 1px 12px #1f1f1f;
		text-decoration: none;
	}

	.preloader img {
		width: 100%;
		height: 60%;
		opacity: 0.7;
	}

	section#top div.col-md-10 {
		padding-left: 0px;
	}

	.col-md-4.newsletter.wow.fadeIn.animated {
	    margin-left: 75px;
	}

/**
* sidebar menue
**/

#menuToggle {
	border: 1px solid rgba(255, 255, 255, 0.3);
}


/**
* Font - Face
**/

@font-face {
	font-family:"Good Times";
	src:url("font/goodtime.eot?") 
	format("eot"),
	url("font/goodtime.woff") 
	format("woff"),
	url("font/goodtime.ttf") 
	format("truetype"),
	url("font/goodtime.svg#GoodTimes") 
	format("svg");
	font-weight:normal;
	font-style:normal;
}

body {
	font-family: "Good Times";
}

.footer_links a {
	color: #000;
	font-size: 12px;
	transition: all 0.4s ease-in-out;
}

.footer_links a:hover {
	color: #64c29e;
}


/**
* about me -onepage < 768 width
**/

	@media screen and (min-width: 991px) {
	#op-item-26 {
		width: 36%;
	}
}


/*
 * Responsive
 */
 @media(max-width: 1200px) {

	section#top-mobile i.icon_si-facebook {
		background: rgb(59, 89, 152);
	}

/*	section#top-mobile i.icon_si-google-plus {
		background: rgb(210, 64, 46);
	}
*/
	section#top-mobile i.icon_si-twitter {
		background: rgb(0, 172, 238);
	}

	section#top-mobile i.icon_si-soundcloud2 {
		background: rgb(255, 120, 0);
		position: relative;
	    top: 13px;
	}	

	section#top-mobile i.icon_si-bandcamp {
		background: rgb(0, 0, 0);
		position: relative;
	    top: 13px;
	}

	section#top-mobile i.icon_si-youtube {
		background: rgb(207, 52, 39);
		position: relative;
	    top: 13px;
	}		

 	section#top-mobile .social_icons i {
 		display: inline-block;
 	}

 	section#top-mobile {
	    display: table;
	}

 	section#top-mobile .social_icons.mobile {
	    display: table-row;
	}

	section#top-mobile .social_icons.mobile ul li {
	    display: table-cell;
	    padding: 10px 0px;
	}

	.live_banner_mobile h3 {
	    font-size: 30px;
	    padding: 5px;
	}

	.live_banner_mobile {
	    border: 1px solid #e2e2e2;
	    border-radius: 20px;
	    margin: 0 0 30px;
	}

	.live_banner_mobile h4 {
	    font-size: 14px;
	    color: #000;
	    text-shadow: 0px -4px 4px #E2E2E2, 0px 1px 2px #7D7D7D;
	}

	h2.mobile {
	    font-size: 30px;
	    color: #000 !important;
	    margin: 20px 0;
	}

	div#op-carousel-33 h2 {
	    color: #000;
	}

 }


 @media(max-width: 1200px) and (orientation: landscape) {

 	section#top-mobile .social_icons.mobile ul li {	
	    padding: 10px 20px;
	}
 }


/**
* Social Icons
**/

		.social_icons
		{
		    max-width: 100px;
		    margin: 80px auto;
		}

		.social_icons ul
		{
		    padding: 0;
		    list-style: none;
		    font-size: 16px;
		}
		.social_icons li
		{
		    float: none;
		    width: 80px;
		    text-align: center;
		    margin-bottom: 30px;
		}
		.social_icons li span
		{
		    display: block;
		}
		.social_icons a
		{
		    display: block;
		    color: #ffffff;
		    text-decoration: none;
		    -moz-transition: .3s;
		    -webkit-transition: .3s;
		    -o-transition: .3s;
		    transition: .3s;
		}
		.social_icons ul:hover a
		{
		    color: rgba(255, 255, 255, 0.6);
		}
		.social_icons ul:hover a:hover
		{
		    color: #ffffff;
		}
		
			.social_icons li:nth-child(1) i
			{
			    background: transparent;
			    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
			}


/*			.social_icons li:nth-child(2) i
			{
			    background: transparent;
			    box-shadow: 0 0 0 0 rgba(210, 64, 46,0.6);
			}*/
			.social_icons li:nth-child(2) i
			{
			    background: transparent;
			    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
			}
		.social_icons li:nth-child(3) i
		{
		    background: transparent;
		    box-shadow: 0 0 0 0 rgba(255, 120, 0, 0.6);
		}
		.social_icons li:nth-child(4) i
		{
			background: transparent;
		    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
		}
		.social_icons li:nth-child(5) i
		{
		    background: transparent;
		    box-shadow: 0 0 0 0 rgba(234, 75, 36, 0.6);
		}
		.social_icons i
		{
		    position: relative;
		    display: inline-block;
		    margin: 0 auto;
		    padding: 12px;
		    border-radius: 50%;
		    font-size: 30px;
		    transition: background .4s box-shadow .4s ease-in-out;
		    -moz-transition: box-shadow .4s ease-in-out;
		    -webkit-transition: box-shadow .4s ease-in-out;
		    -o-transition: box-shadow .4s ease-in-out;
		}
		.social_icons a:hover i, .social_icons a:active i
		{
		    box-shadow: 0 0 0 35px transparent;
		    background: rgb(185, 185, 185);
		}

		/*color hover*/
			.social_icons a.facebook:hover i {
				background: rgb(59, 89, 152);
			}

/*			.social_icons a.gplus:hover i {
				background: rgb(210, 64, 46);
			}*/
			.social_icons a.twitter:hover i {
				background: rgb(0, 172, 238);
			}

			.social_icons a.soundcloud:hover i {
				background: rgb(255, 120, 0);
			}

			.social_icons a.bandcamp:hover i {
				background: rgb(0, 0, 0);
			}

			.social_icons a.youtube:hover i {
				background: rgb(207, 52, 39);
			}


		.social_icons .icon + span
		{
		    margin-top: 20px;
		    opacity: 0;
		    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
		    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
		    -ms-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
		    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
		    transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
		}
		.social_icons a:hover span, .social_icons a:active span
		{
		    opacity: 1;
		}


 @-webkit-keyframes spinner { 
 	from { -webkit-transform: rotateY(0deg); } 
 	to { -webkit-transform: rotateY(-360deg); } 
 } /* all other browsers */ 
 @keyframes spinner { 
 	from { -moz-transform: rotateY(0deg); -ms-transform: rotateY(0deg); transform: rotateY(0deg); }
 	 to { -moz-transform: rotateY(-360deg); -ms-transform: rotateY(-360deg); transform: rotateY(-360deg); } 
 }


 #spinner:hover { 
 	-webkit-animation-name: spinner;
 	-webkit-animation-timing-function: linear; 
 	-webkit-animation-iteration-count: infinite; 
 	-webkit-animation-duration: 0.5s; 
 	animation-name: spinner; 
 	animation-timing-function: linear; 
 	animation-iteration-count: infinite; 
 	animation-duration: 0.5s; 
 	-webkit-transform-style: preserve-3d; 
 	-moz-transform-style: preserve-3d; 
 	-ms-transform-style: preserve-3d; 
 	transform-style: preserve-3d; 
 	} 
/* 	#spinner:hover { 
 		-webkit-animation-play-state: paused; 
 		animation-play-state: paused; 
 	}*/


/* Social Icon Font */

.social_icons.top-container {
    position: fixed;
    left: 30px;
}


.icon_si-soundcloud2:before {
	content: url(../images/soundcloud_54.png);
}

i.icon_si-soundcloud2 {
  height: 54px;
  width: 54px;
  padding: 0px;
}

i.icon_si-bandcamp {
  height: 54px;
  width: 54px;
  padding: 0px;
}

.icon_si-bandcamp:before {
	content: url(../images/bandcamp-logo_54.png);
}

i.icon_si-youtube {
  height: 54px;
  width: 54px;
  padding: 0px;
}

.icon_si-youtube:before {
	content: url(../images/youtube-logo.png);
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


.icon_si-home, .icon_si-stumbleupon, .icon_si-pencil, .icon_si-tag, .icon_si-clock, .icon_si-users, .icon_si-user, .icon_si-disk, .icon_si-lab, .icon_si-arrow-left, .icon_si-mail, .icon_si-google-plus, .icon_si-facebook, .icon_si-twitter, .icon_si-feed, .icon_si-delicious, .icon_si-stackoverflow, .icon_si-pinterest, .icon_si-html5, .icon_si-css3 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon_si-home:before {
	content: "\e000";
}
.icon_si-stumbleupon:before {
	content: "\e006";
}
.icon_si-pencil:before {
	content: "\e008";
}
.icon_si-tag:before {
	content: "\e009";
}
.icon_si-clock:before {
	content: "\e00a";
}
.icon_si-users:before {
	content: "\e00b";
}
.icon_si-user:before {
	content: "\e00c";
}
.icon_si-disk:before {
	content: "\e00d";
}
.icon_si-lab:before {
	content: "\e00e";
}
.icon_si-arrow-left:before {
	content: "\e001";
}
.icon_si-mail:before {
	content: "\e00f";
}
.icon_si-google-plus:before {
	content: "\e010";
}
.icon_si-facebook:before {
	content: "\e002";
}
.icon_si-twitter:before {
	content: "\e003";
}
.icon_si-feed:before {
	content: "\e004";
}
.icon_si-delicious:before {
	content: "\e005";
}
.icon_si-stackoverflow:before {
	content: "\e011";
}
.icon_si-pinterest:before {
	content: "\e012";
}
.icon_si-html5:before {
	content: "\e007";
}
.icon_si-css3:before {
	content: "\e013";
}

				/**
				* Hover Shadow
				**/

		div.live_banner {
		    position: fixed;
		    display: block;
		    left: -430px;
		    bottom: 180px;
		    background-color: rgba(229, 229, 229, 0.49);
		    border: 1px solid #fff;
		    border-radius: 15px;
		    z-index: 999;
		    padding: 10px 80px 10px 10px;
		    color: #FFF;
    		text-shadow: 0px 0px 30px #222;
		    transition: all 0.7s ease;
		}

		div.live_banner:hover,
		div.live_banner:focus {
			left: 20px;
			background-color: rgba(229, 229, 229, 1);
			color: #545454;
    		text-shadow: 0px 0px 0px #222;
		}

		h3.rotate {
		  -webkit-transform: rotate(-90deg);
		  -moz-transform: rotate(-90deg);
		  -ms-transform: rotate(-90deg);
		  -o-transform: rotate(-90deg);
		  transform: rotate(-90deg);
		  -webkit-transform-origin: 100% 0%;
		  -moz-transform-origin: 100% 0%;
		  -ms-transform-origin: 100% 0%;
		  -o-transform-origin: 100% 0%;
		  transform-origin: 100% 0%;
		  position: absolute;
		  right: 50px;
		}


		div.live_info {
			padding: 30px;
			border: 1px solid white;
			border-radius: 10px;
			background: none;
			-webkit-transition: all 1s ease;
				-moz-transition: all 1s ease;
					-o-transition: all 1s ease;
		}

		div.live_info:hover {
			border: 1px solid rgb(182, 182, 182);
			border-radius: 50px;
				background: #e5e5e5;
		}

			@-webkit-keyframes hover-shadow {
				  0% {
				    -webkit-transform: translateY(6px);
				    transform: translateY(6px);
				    opacity: .4;
				  }

				  50% {
				    -webkit-transform: translateY(3px);
				    transform: translateY(3px);
				    opacity: 1;
				  }

				  100% {
				    -webkit-transform: translateY(6px);
				    transform: translateY(6px);
				    opacity: .4;
				  }
				}

				@keyframes hover-shadow {
				  0% {
				    -webkit-transform: translateY(6px);
				    transform: translateY(6px);
				    opacity: .4;
				  }

				  50% {
				    -webkit-transform: translateY(3px);
				    transform: translateY(3px);
				    opacity: 1;
				  }

				  100% {
				    -webkit-transform: translateY(6px);
				    transform: translateY(6px);
				    opacity: .4;
				  }
				}

				.hover-shadow {
				  display: inline-block;
				  position: relative;
				  -webkit-transition-duration: 0.3s;
				  transition-duration: 0.3s;
				  -webkit-transition-property: transform;
				  transition-property: transform;
				  -webkit-transform: translateZ(0);
				  transform: translateZ(0);
				  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				}
				.hover-shadow:before {
				  pointer-events: none;
				  position: absolute;
				  z-index: -1;
				  content: '';
				  top: 100%;
				  left: 5%;
				  height: 10px;
				  width: 90%;
				  opacity: 0;
				  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
				  /* W3C */
				  -webkit-transition-duration: 0.3s;
				  transition-duration: 0.3s;
				  -webkit-transition-property: transform, opacity;
				  transition-property: transform, opacity;
				}
				.hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
				  -webkit-transform: translateY(-6px);
				  transform: translateY(-6px);
				  -webkit-animation-name: hover;
				  animation-name: hover;
				  -webkit-animation-duration: 1.5s;
				  animation-duration: 1.5s;
				  -webkit-animation-delay: 0.3s;
				  animation-delay: 0.3s;
				  -webkit-animation-timing-function: linear;
				  animation-timing-function: linear;
				  -webkit-animation-iteration-count: infinite;
				  animation-iteration-count: infinite;
				  -webkit-animation-direction: alternate;
				  animation-direction: alternate;
				}
				.hover-shadow:hover:before, .hover-shadow:focus:before, .hover-shadow:active:before {
				  opacity: .4;
				  -webkit-transform: translateY(6px);
				  transform: translateY(6px);
				  -webkit-animation-name: hover-shadow;
				  animation-name: hover-shadow;
				  -webkit-animation-duration: 1.5s;
				  animation-duration: 1.5s;
				  -webkit-animation-delay: 0.3s;
				  animation-delay: 0.3s;
				  -webkit-animation-timing-function: linear;
				  animation-timing-function: linear;
				  -webkit-animation-iteration-count: infinite;
				  animation-iteration-count: infinite;
				  -webkit-animation-direction: alternate;
				  animation-direction: alternate;
				}

/**
* diverses
**/

	#testimonials {
		min-height: 440px;
	}

	.clr {
		clear: both;
	}

@media(min-width: 769px) {
	#about {
		height: 120vh;
		margin-bottom: 0px !important;
	}
}

/*u.a.about me background image resp ausblenden*/
	@media(max-width: 1199px) {
		body div#bg-image-24 {
			background-image: none;
		}

		body section#about {
		    margin-bottom: 0%;
		}

		body section#about p {
		    font-size: 12px;			
		}

		body section#about h1 {
			font-size: 26px;
		}

		body section#about h2,
		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}

		body #section-wrap-50 {
    		height: auto;
    	}

    	body div#bg-image-37 {
    		background-image: none;
    	}
	}

	@media(width: 1024px) and (orientation: landscape) {

		.col-md-3 {
		    width: 100% !important;
		}
	}

	p.info {
		font-size: 16px;
	}


											/**
											 * skrollr
											 **/

											 section#top {
											        position: relative;
											        text-align: left;
											        min-height: 700px;
											    }

											div.top-container {
											        position: absolute;
											        top: 30px;
											        width: 100%;
											        opacity: 1;
											    }




/**
* Audioplayer
**/

@media(min-width: 769px) {
	#op-video-52,
	#op-video-53,
	#op-video-54 {
		opacity: 0.5;
		transition: all 0.6s ease-in-out;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);

	}

	section#section-wrap-50 {
	    z-index: 0 !important;
	}

	section#contactwrap {
	    z-index: 0;
	}

	#op-video-52:hover,
	#op-video-53:hover,
	#op-video-54:hover,
	#op-video-52:active,
	#op-video-53:active,
	#op-video-54:active {
		opacity: 1;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}
	h2.audio {
		text-align: center;
/*		color:#fff;
		text-shadow: 2px 2px 5px #717171;*/
	}

/**
* Video
**/

	#section-wrap-46 .row {
	    margin-bottom: 60px;
	}


	#op-video-47 > div,
	#op-video-48 > div,
	#op-video-49 > div,
	#op-video-66 > div {
    	height: 380px;
    	box-shadow: 2px 2px 10px #000;
    	margin-bottom: 20px;
	}

	#section-wrap-46 {

	}

	#bg-image-50 {
		opacity: 0.9;
	}


/*Carousel 08-2015*/

	.carousel-inner {
		max-height: 390px;
	}

	.op-carousel-1 .carousel-indicators {
	    position: relative;
	    margin: 0px !important;
	}

	.op-carousel-1 .carousel-bar {
	    height: auto !important;
	}

	.op-carousel-1 .carousel-bar {
	    background-color: transparent !important;
	}

	.carousel-indicators li {
	    border: 1px solid #000;
	}

	.carousel-indicators .active {	    
	    background-color: #000;
	}

/*Newsletter*/

#bg-image-37 {
    opacity: 0.2;
}

.opcontactform .form-control,
.input-group {
    background-color: rgba(253, 253, 253, 0.7) !important;
    border: 1px solid #000000 !important;
}

@media(max-width: 767px) {

	h3.mobile_newsletter_header {
	    position: absolute;
	    bottom: 160px;
	}

	body .col-md-4.newsletter {
	    margin: 40px 0 !important;
	}
}

@media(min-width: 768px) and (max-width: 1023px) {

	h3.mobile_newsletter_header {
	    position: absolute;
	    bottom: 210px;
	}

	body .col-md-4.newsletter {
	    margin: 60px 0px 40px !important;
	}
}

@media(width: 1024px) and (orientation: landscape) {
	
	body .form-horizontal .form-group {
	    margin-right: -105px !important;
	    }		
}

/*<--! Newsletter*/

section#section-wrap-50 {
    padding: 0px 0px 60px;
    /*background: -webkit-linear-gradient(top, rgba(193, 192, 192, 0.91),rgba(255, 255, 255, 0.29));*/
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F7F7F7),
		color-stop(0, #BFC0C0),
		color-stop(0.22, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #BFC0C0 0%, #FFFFFF 22%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #BFC0C0 0%, #FFFFFF 22%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #BFC0C0 0%, #FFFFFF 22%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #BFC0C0 0%, #FFFFFF 22%);
	background-image: linear-gradient(to bottom, #F7F7F7 0%, #BFC0C0 0%, #FFFFFF 22%);
}

section.wrap-section  {
    box-shadow: 0px 0px 127px 20px rgba(107, 106, 106, 0.55);
}

section#section-wrap-46 {
	box-shadow: none;
}

#testimonials {
    padding: 0px 0px 30px;
}

h2 {
    margin-bottom: 30px;
/*    text-shadow: 1px 2px 4px #E4E4E4, 0px -1px 1px #2F2F2F;
    color: #989898;*/
    /*alternativ:*/
    text-shadow: 0px -4px 4px #E2E2E2, 0px 1px 2px #7D7D7D;
    color: #BFBFBF;
}

section#section-wrap-46 h2 {
	text-shadow: 0px -4px 4px #E2E2E2, 0px 1px 2px #7D7D7D;
	color: #D2D2D2;
}

#section-wrap-50 div div.row {
	text-align: center;
}

