/*-- Bootstrap Component --*/
.label-pink,.badge-pink {
	background-color:#F73E5F;
}

.btn {
	border-radius: 0px;
}

/*
input[type="email"] {
	border: 2px solid #DDD;
	box-shadow: none;
	border-radius:0px;
}

input[type="email"]:foucs {
	box-shadow: none;
}*/

/*-- Bootstrap Component --*/

.noradius {border-radius:0px;}

#jsbt3-navigation .navbar {
   /*padding-top: 20px;
  padding-bottom: 20px;*/
  font-family: 'Open Sans', sans-serif;
}

#jsbt3-navigation .navbar .navbar-header #brand{
   padding-top: 20px;
  /*padding-bottom: 20px;*/
}

#jsbt3-navigation .navbar-default {
	border-top: 3px solid #3f82c8;
    background-color: rgba(255,255,255, 1);
    background-image: none;
   /* border-color: rgba(0, 0, 0, 0);*/
    box-shadow: none;
}

#jsbt3-navigation .navbar-default .navbar-nav > li a {
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.025em;
	padding: 12px 18px;
	color: #878787;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 20px;
  	padding-bottom: 20px;
  	display:block;
  	min-width:60px;
}


#jsbt3-navigation .navbar-default .navbar-nav > li > a:hover {
	color:#FFE057;
}

#jsbt3-navigation .navbar-default .navbar-nav > li.active > a,#jsbt3-navigation .navbar-default .navbar-nav > li.active > a:hover {
	/*background-color:#3f82c8;
	color:#fff;*/
	background-color: transparent;
	color:#EDCD3B;
}

#jsbt3-navigation .navbar-default h3.navbar-text {
	margin-top:20px;
}

.navbar-theme {
	margin-bottom: 0px;
}

.moduletable .table tbody tr:first-child td { border-top:0px; }

.moduletable .panel-heading {font-size:18px}


.moduletable ul.jsbt3menu-list-group li { 
	padding: 0px;
}

.moduletable ul.jsbt3menu-list-group li a{ 
	display:block;
	text-decoration:none;
	padding: 10px 15px;
}

.moduletable ul.jsbt3menu-list-group li.active a {
	color: white;
	background-color: #428BCA;
	border-color: #428BCA;
}


/* Footer */
.footer {
	background-color:#3575B9;
	color:#fff;
	/*position:absolute;*/
	left:0;
	bottom:0;
	width:100%;
	padding:20px 0px;
}

.footer p {margin-bottom:0px;}

.footer .center-block {
	width:500px;
	margin-top: 20px;
}

.footer .center-block nav {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
*/