.opcarousel {min-height:100px;}

.opcarousel .carousel-control{
	top: calc(50% - 40px);
	top: -webkit-calc(50% - 40px);
	top: -moz-calc(50% - 40px);
	bottom:auto;
	width:60px;
	z-index: 1101;
	display: inline-block;
	background: #333;
}

.opcarousel a {
	display: block;
}

.opcarousel a.left {
	height:60px;
	padding-top: 4px;
}

.col-md-12 .opcarousel a.left {
	left:-60px;
}

.opcarousel a.right {
	height:60px;
	padding-top: 4px;
}

.col-md-12 .opcarousel a.right {
	right:-60px;
}

.container-fluid  .opcarousel .carousel-control{
	width:10%;
}

.container-fluid .opcarousel a.left {
	left:0;
	padding-top: 10px;
}

.container-fluid .opcarousel a.right {
	right:0;
	padding-top: 10px;
}

.opcarousel .carousel-indicators li {
	display: inline-block;
	width: 30px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	border: 0px solid white;
	border-radius: 0px;
	cursor: pointer;
	background-color: #ccc;
}

.opcarousel .carousel-indicators li.active {
	background: #70AC00;
	color: #70AC00;
}

@media (max-width: 767px) {
	
  
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}