@CHARSET "UTF-8";
#main {
	position:relative;
	padding-top:40px;
}

/* -- Product View -- */
.table  img.plogo {
	height:100px;
}

#dproductinfo tbody tr:first-child td {
	border-top:0px;
}

.pure-menu-horizontal li {
	margin:5px 5px;
	width:110px;
	height:70px;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.1);
}

.pure-menu-horizontal li.previewli>a.preview {
	display:table;
	height:100%;
	width:100%;
}

.pure-menu-horizontal li.previewli>a.preview>div {
	display:table-cell;
	vertical-align:middle;
}

.dlocker-native-info {
	margin: 5px 10px;
}

#paidmsg {
	font-size:20px;
	border: 3px #ccc dashed;
	padding-top:10px;
	margin-top: 15px;
}

.aside {
	background: #1F8DD6;
	padding: 0.3em 1em;
	border-radius: 3px;
	color: white;
	font-size:14px;
}


.table .alignmiddle td {vertical-align: middle;}
.pure-table .aligntop td {vertical-align: top;}

.pure-table h3 {
	margin-top:0px;
	margin-bottom:0px;
}


.pure-table p {
	font-size:15px;
}

#buyform #dlocker_subscription input[type="email"] {
	border: 2px solid #DDD;
	box-shadow: none;
	font-size: 100%;
	margin-bottom: 1em;
	display: block;
	margin: .25em 0;
	padding: 10px 8px;
	width:300px;
}

#buyform #dlocker_subscription input[type="email"]:focus {
	outline: 0;
	outline: thin dotted 9;
	border-color: #129FEA;
}

.table .fieldtitle {
	font-size: 16px;
	font-weight: 700;
	color:#333;
	width:180px;
}

@media (max-width:767px) {
	.table .fieldtitle {
		width:114px;
	}
}

.pure-table .has-feedback {
	position: relative;
}
.pure-table .has-feedback span {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
}

.pure-table ol,.pure-table ul {

}

.pure-table ul {
	padding-left: 0px;
}

.pure-table ul> li {
	list-style: none;
}

 .pure-button-primary{
	display:block;
	background-color:#0078E7;
	padding: 8px 10px;
	font-size: 16px;
	margin: 5px 0px;
}

.pure-button-hover, .pure-button:hover, .pure-button:focus {
	background-color:#0078E7;
}

.pmimg {
	cursor: pointer;
}
/* -- Product View -- */

/* -- Update View -- */
.loginform {
	max-width:600px;
	
	margin:0 auto;
	padding-bottom:30px;
	
	border-top:3px solid #3276B1;
	border-left:1px solid #f3f3f3;
	border-bottom:1px solid #f3f3f3;
	box-shadow: 6px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
/* -- Update View -- */

/*-- Product List View --*/
.product-list {
	padding-bottom:30px;
}

.product-item {
	min-height:200px;
}

.product-item>a {
	width:200px;
}

.product-item .product-keywords {
	padding: 10px 20px;
	border: 2px solid #65A6D1;
	border-color:#999;
}

.product-item .product-keywords .list-inline {
	margin-bottom: 0px;
}
/*-- Product List View --*/