@CHARSET "UTF-8";
article.jsbt3_blog_post {
	width:100%;
	height: auto;
	position: relative;
	margin-bottom: 30px;
}

.jsbt3_blog_post .date_of_post {
	position: absolute;
	left: 0px;
	top:0px;
	width: 54px;
	float: left;
}


.jsbt3_blog_post .date_of_post .daymonth{
	color: white;
	background: none repeat scroll 0 0 #F15A23;
	width: 54px;
	height: 54px;
	color: white;
	background: #F15A23;
}

.jsbt3_blog_post .day_post {
	font-size: 20px;
	text-align: center;
	filter: none;
	float: left;
	width: 100%;
	font-weight: bold;
	margin: 5px 0 0 0;
}

.jsbt3_blog_post .month_post {
	font-size: 13px;
	text-align: center;
	float: left;
	width: 100%;
	text-transform: uppercase;
	line-height: 18px;
	position: relative;
	top: -6px;
}

.jsbt3_blog_post .year_post {
	text-align: center;
	color:#999;
	font-weight:700;
}



.jsbt3_blog_post .post-content {
	margin-left: 54px;
	padding: 0 0 18px 0;
	border: 1px solid #D6D6D6;
}

.jsbt3_blog_post .post-header {
	width: 100%;
}

.jsbt3_blog_post .post-header .post-title {
	width: 100%;
	margin: 14px 0 0;
	padding: 0 4.4% 13px;
	word-wrap: break-word;
	border-bottom: 2px solid #F15A23;
	font-size:27px;
}

.jsbt3_blog_post .post-header .post-title a {
	text-decoration: none;
	color: #333;
}

.jsbt3_blog_post .post-header .post-title a:hover {
	color: #F15A23;
}

.jsbt3_blog_post .entry-content {
	padding: 20px 4.4% 10px;
	margin-top: 0;
}

@media (max-width: 420px) {
	.jsbt3_blog_post .date_of_post {
		position: relative;
		width:100%;
		display: block;
		float:none;
	}
	
	.jsbt3_blog_post .date_of_post .daymonth{
		color: white;
		background: none repeat scroll 0 0 #F15A23;
		width: 100%;
		height: 54px;
		color: white;
	}
	
	.jsbt3_blog_post .post-content {
		margin-left: 0px;
	}
	
	.jsbt3_blog_post .xs-date {
		padding:18px 10px 0px;
	}
}

