.op-hover-block{position:relative;}
.op-hover-overlay {position:absolute;top:0;left:0;right:0;bottom:0; background-color:rgba(100, 194, 158, 0.9);display:block;}
.op-hover-block .animated {-webkit-animation-duration: 500ms;animation-duration: 500ms;-moz-animation: 500ms; -o-animation:500ms;}
.op-hover-table{display:table;height: 100%; width: 100%;}.op-hover-cell{display:table-cell;vertical-align:middle;color: white;}