@CHARSET "UTF-8";
[class^="icon-"], [class*=" icon-"] {
	vertical-align: bottom;
	
}
.row0 a {
	text-decoration: none;
}
.row1 a {
	text-decoration: none;
}

#system-message-container {
	padding-top: 40px;
}

#system-message ul, ol {
padding: 0;
margin: 0;
}

/*--------------------------------------------------- BODY ---*/
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #F9F9F9;
}

.fixed {
	position: fixed;

	padding-right: 10px;
	box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}

.page-main-panel {
	position:fixed;top:0;bottom:0;width:260px;;background: #18213D;
	overflow: auto;
}

.page-sub-panel {
	padding: 20px 0 20px 270px;
}

.cap-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2px;
	background: #333;
	background: rgba(0, 0, 0, 0.75);

	line-height: 20px;
	color: white;
}

/*--------------------------------------------------- NAVBAR ---*/
.navbar .btn-link {color: #fff;}
.navbar ul.inline a {text-decoration:none; color:#fff;}
.navbar ul.inline a:hover {color:#336CA6;}

#optopmenu > ul > li > a {
	padding: 5px 5px;text-decoration:none; color:#fff;
}
#optopmenu > ul > li > a:hover {
	background-color:#336CA6;
}
ul.pagelisttoolbar {margin: 0 20px;}
ul.pagelisttoolbar >li > a {text-decoration:none; color:#fff;font-weigth: 600;}
ul.pagelisttoolbar >li > a:hover {color:#336CA6;}

/*--------------------------------------------------- FIRST LEVEL ---*/
ul.first-level {margin: 0px; }
ul.first-level .li {
	position: relative;
    padding: 10px 15px;
    color: #333;
    border-left: 5px solid #41838e;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #fff;
    margin: 5px 0 5px 0;
    list-style-type: none;
    
}

ul.child-level {margin: 0px; }
ul.child-level .li {
	position: relative;
    padding: 10px 0px 10px 15px;
    color: #333;
    border-left: 5px solid #F26328;
    
    background: #fff;
    margin: 5px 0 5px 0;
    list-style-type: none;
    
     border-bottom: 1px solid rgba(180, 180, 180, 0.4);
border-top: 1px solid rgba(180, 180, 180, 0.3);
box-shadow: 0px 0px 0px 0px rgba(163,163,163,0.8);
    /*
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: -2px 1px 0px 1px rgba(163,163,163,0.8);
*/
	
	
}

/*--------------------------------------------------- CHILD LEVEL ---*/
ul.child-level > li .child-level1 {
	border-left: 5px solid #E67E22;
}

ul.child-level > li .child-level2 {
	border-left: 5px solid #27AE60;
}

ul.child-level > li .child-level3 {
	border-left: 5px solid #2980B9;
}

ul.child-level > li .child-level4 {
	border-left: 5px solid #8E44AD;
}

ul.child-level > li .child-level5 {
	border-left: 5px solid #BDC3C7;
}

/*--------------------------------------------------- PAGE LIST ---*/
ul.pagelist > .li {
	margin: 5px 0 5px 0;
	padding: 13px 5px;
	/*border-left: 5px solid #41838e;*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*background: #336CA6; color: #fff;*/
    list-style-type: none;
   	color: #fff;
    font-weight: 700;
}

ul.pagelist > .active {border: 2px solid #fff;}
/*ul.pagelist > .homemenu {background: #F39C12;}*/

ul.pagelist > .li > ul {	color: #fff; }
ul.pagelist a {text-decoration: none; color: #fff;}
ul.pagelist span {
	font-size: 20px;
}

ul.inline > li {vertical-align: middle;padding: 0 2px;}

ul.caption {width:100%;position:relative;}
ul.caption > li {width:16%;vertical-align: middle;}
ul.caption > li .link-btn {width:100%;display:block;}
ul.caption > li .link-btn:hover {width:100%;display:block;background: #336CA6;}

/*--------------------------------------------------- LI-OPINLINE ---*/
ul.opinline {height: 40px;}
ul.ultoolbar {padding-top: 30px;}
ul.ultoolbar > li {margin-bottom:5px;width:120px;}

/*--------------------------------------------------- PLACE HOLDER ---*/

.list-sortable-placeholder { margin: 15px 0; padding: 15px 0; min-height: 90px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; list-style-type: none;}
ul.pagelist > .list-sortable-placeholder {min-height: 60px; border: 2px dashed #fff;background:#2e3f75;}


/* General button style (reset) */
.toolbar a {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 0px ;
	display: inline-block;
	margin: 3px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	text-decoration:none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 20px;
	height:20px;
	border-radius: 50%;
	text-align: center;
	z-index: 1;
	
}

.fold {
	text-align:right;
	width:30px;
	margin-top:5px;
}
.toolbar {
	text-align:right;
	width:130px;
}


/*------------------- Btntip --------------*/
.btntip i {
	margin-left: 2px;
}





.row-action-bar {
	padding-left:10px;
}

/*---- Menu CSS------*/
.edit-box {
	position: relative;
    padding: 10px 20px;
    color: #333;
    border-top: 5px solid #41838e;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #fff;
    margin: 0px 0 15px 0;
    height:100%;
}

.edit-box h4{
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}

.ui-slider {
	margin-bottom: 20px;
	position: relative;
}

.progress,.ui-slider {
	background: #E8EDF2;
	border-radius: 32px;
	height: 12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
}

.ui-slider-segment {
	background-color: #D6DBE0;
	border-radius: 50%;
	float: left;
	height: 6px;
	margin: 3px -6px 0 9%;
	width: 6px;
}

.ui-slider-handle:active {
	background-color: #16A085;
}

.ui-slider-handle:hover,.ui-slider-handle:focus {
	background-color: #2FE2BF;
	outline: none;
}

.ui-slider-handle {
	background-color: #16A085;
	border-radius: 50%;
	cursor: pointer;
	height: 18px;
	margin-left: -9px;
	position: absolute;
	top: -3px;
	width: 18px;
	z-index: 2;
	-webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
	-o-transition: background 0.25s;
	transition: background 0.25s;
	-webkit-backface-visibility: hidden;
}

.ui-slider-range {
	background-color: #1ABC9C;
	border-radius: 30px 0 0 30px;
	display: block;
	height: 100%;
	position: absolute;
	z-index: 1;
}